$sCyan: hsl(172, 67%, 45%);
$vdCyan: hsl(183, 100%, 15%);
$dgCyan: hsl(186, 14%, 43%);
$gCyan: hsl(184, 14%, 56%);
$lgCyan: hsl(185, 41%, 84%);
$vlgyan: hsl(189, 41%, 97%);
$formSize: 24px;
$weight: 700;
$family: 'Space Mono', monospace;

@import "../bootstrap/scss/bootstrap.scss";